@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h1>@ViewBag.name</h1>
<section>
    <ul id="tf">
        <li>姓名<input type="text" name="name" /></li>
        <li>年龄<input type="text" name="age" /></li>
        <li>性别<input type="text" name="sex" /></li>
        <li>地址<input type="text" name="address" /></li>

    </ul>
    <ul>
        <li>
            <button onclick="test()">提交</button>
        </li>
    </ul>
</section>
<div id="tag"></div>
<script>



    function test() {

        var form = new FormData();
        form.append("name", $("input[name='name']").val());
        form.append("age", $("input[name='age']").val());
        form.append("sex", $("input[name='sex']").val());
        form.append("address", $("input[name='address']").val());
        //form.append("file", document.getElementById('myfile').files[0]);

        $.ajax({
            url: "/home/Submitform",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (data) {

                $("#tag").text(data);
            },
            error: function (e) {
                alert("错误！！");

            }
        });

    }
</script>